.App {
  text-align: center;
}

.primaryColor {
  color: #ec8600;
}
.btnRegular {
  background-color: tomato;
  color: white;
}
.spinnerStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: 50% 50%;
}
